@page
@model MyApp.Namespace.ChallengeDetailsModel
@{
    ViewData["ChallengeDetails"] = "Challenge Details";
}
<div class="challangeDetailAlert" >
        <h4>@Model.StatusMessage</h4>
</div>

<div class="challangeDetailsBox">
    <h2>@Model.challenge.ChallangeName</h2><br>
    <div class="row">
        <table>
            <thead>
                <th>Challange Description</th>
                <th>Challange Start Date </th>
                <th>Challange  End Date</th>
                <th>Challange Difficulty</th>
                <th>Challange Category</th>
                <th>Challange Poster</th>
                <th>Challange Rate</th>
            </thead>
            <tbody>
                <td>@Model.challenge.ChallangeDesc</td>
                <td>@Model.challenge.ChallangeStartDate</td>
                <td>@Model.challenge.ChallangeEndDate</td>
                <td>@Model.challenge.ChallangeDifficulty</td>
                <td>@Model.challenge.ChallangeCategory</td>
                <td>@Model.ChallangePoster</td>
                <td></td>
            </tbody>
        </table>

    </div><br>
           
    <form style="margin-left:43%" asp-page="ChallengeDetails" asp-page-handler="Favorite" asp-route-id=@Model.challenge.ChallangeId method="post">
        <input type="submit"  class="btn btn-primary" value="Favorite">
    </form><br>
    <form style="margin-left:40%" asp-page="ChallengeDetails" asp-page-handler="Delete" asp-route-id=@Model.challenge.ChallangeId  method ="post">
        <input type="submit"  class="btn btn-primary" value="Delete Challenge">
    </form>
        
       
    
</div>