@page
@model MyApp.Namespace.ChallengeDetailsModel
@{
    ViewData["ChallengeDetails"] = "Challenge Details";
}
<div class="challangeDetailAlert" >
        <h4>@Model.StatusMessage</h4>
</div>

<div class="challangeDetailsBox">
    <h2>@Model.challenge.ChallangeName</h2><br>
    <div class="row">
        <table>
            <thead>
                <th>Challange Description</th>
                <th>Challange Start Date </th>
                <th>Challange  End Date</th>
                <th>Challange Difficulty</th>
                <th>Challange Category</th>
                <th>Challange Poster</th>
            </thead>
            <tbody>
                <td>@Model.challenge.ChallangeDesc</td>
                <td>@Model.challenge.ChallangeStartDate</td>
                <td>@Model.challenge.ChallangeEndDate</td>
                <td>@Model.challenge.ChallangeDifficulty</td>
                <td>@Model.challenge.ChallangeCategory</td>
                <td>@Model.ChallangePoster</td>
            </tbody>
        </table>

    </div><br>
           
    <form style="margin-left:43%" asp-page="ChallengeDetails" asp-page-handler="Favorite" asp-route-id=@Model.challenge.ChallangeId method="post">
        <input type="submit"  class="btn btn-primary" value="Favorite">
    </form><br>
    <form style="margin-left:40%" asp-page="ChallengeDetails" asp-page-handler="Delete" asp-route-id=@Model.challenge.ChallangeId  method ="post">
        <input type="submit"  class="btn btn-primary" value="Delete Challenge">
    </form>

    <form style="row" asp-page="ChallengeDetails" asp-page-handler="Comment"asp-route-id="@Model.challenge.ChallangeId" method="post">
        <label style="color:white" asp-for="InputCommentText">Write a comment!</label> 
        <textarea asp-for="InputCommentText" class="form-control" rows=3></textarea><br>
        <input style="margin-left:40%" type="submit" class="btn btn-primary" value="Post comment!"> 
    </form>
    <br>
    <a style="margin-left:35%" asp-page="ReadComment" asp-route-id=@Model.challenge.ChallangeId >Read This Challenge's Comments!</a>

    
</div>